
<div class="everything">
<div class="navbar-home-page">

  <div class="border-bottom-bg-color">



        <%= image_tag "icons8-brain-100(1).png", alt: "alttext", class:"decoration-for-navbar" %>

        <div class="header-home-page">
          <h1>Remembex</h1>
          <div class="select-a-text">
          <h3><strong>Select a text</strong></h3>
          </div>
        </div>

        <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani">




  </div>
  </div>




  <% @full_texts.each do |full_text| %>
   <div class="card-full-text" style="max-width: 500px;">

    <div class="full-card">
      <div class="blue-stuff">
        <%= image_tag "icons8-innovation-100.png", class: "decoration-for-side-bar", alt: "icon" %>
      </div>

      <div class="white-stuff">

        <h5 class="text-card-title"><%= link_to full_text.title[0..11], full_text_text_paragraphs_path(full_text)%></h5>

        <p class="text-card-briefly"><%= full_text.text_paragraphs.first.content[0..150]%>...</p>

        <%= link_to full_text_path(full_text), method: :delete, class:"btn-delete-text" do %>
        <%= image_tag "https://img.icons8.com/dusk/64/000000/waste.png" %>
        <% end %>

        <%= link_to full_text_path(full_text), class:"btn-read-all-text" do %>
        <%= image_tag "https://img.icons8.com/dusk/64/000000/document.png" %>
        <% end %>

        <%= link_to full_text_path(full_text), class:"btn-mark-as-done-text" do %>
        <%= image_tag "https://img.icons8.com/dusk/64/000000/ok.png" %>
        <% end %>

        <h4 class="procent-of-text"> 100% </h4>
      </div>
     </div>
     <br>
     <br>

    </div>
  <% end %>

  <%= link_to new_full_text_path, class: "btn btn-add-new-text" do %>
    <p>+</p>
  <% end %>






