<div class="full-text-show-page">
<div class="navbar-full-text-show-page">



        <%= link_to full_texts_path, class:"btn-go-back" do %>
        <%= image_tag "left-arrow.png" %>
        <% end %>


          <h1><%= @full_text.title %></h1>



        <img class="avatar-show-page" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/cveneziani">





  </div>
   <div class="full-text-container">
    <%= image_tag "open-book.png", alt: "alttext", class:"decoration-for-reading-mode"%>
  <p class="text-show-all"><%= @full_text.text_paragraphs.map(&:content).join("\n\n") %></p>
  </div>
  </div>

