<div class="game_two_session_background_container">
  <div class="game_session_main_container">
    <div class="game_session_game_container">
      <div class="game_two_session_header_container">
        <h1>Multiple Choice</h1>
        <h3><%= @game_two_session.text_paragraph.full_text.title %></h3>
      </div>
      <% first_section = @chopped_paragraph.first %>
      <% first_options = @chopped_only_text.uniq.reject{ |k| k == first_section[:secret_word]}.sample(3) + [first_section[:secret_word]] %>
      <%= form_tag(update_game_two_session_path, method: :post, id: "insert_word_game_two_form", data: { game_two_session_id: @game_two_session.id }) do %>
        <p>
          <% @chopped_paragraph.each do |section| %>
            <% if section.is_a? Hash %>
              <% options = [] %>
              <% options << @chopped_only_text.uniq.reject{ |k| k == section[:secret_word]}.sample(3) %>
              <% options << section[:secret_word] %>
                <span id='word_options' class="insert_word_input text-center" data-options=<%= options.flatten.shuffle.join(";") %> data-answer=<%= section[:secret_word] %> >
                </span>
            <% else %>
              <span class="punctuation"><%= section %></span>
            <% end %>
          <% end %>
        </p>
      <% end %>

       <span class="user-options-container d-none" id="options-container">
          <% first_options.shuffle.each_with_index do |option, idx| %>
            <span class='user-options' id="option-<%= idx + 1 %>"><%= option %></span>
          <% end %>
        </span>

      <div class="game1_popup_window_background">
        <div id="game1_popup_window">
          <h1>Great try!</h1>
          <h3></h3>
          <%= link_to create_game_two_session_path(@game_two_session.text_paragraph), method: :post, class:"btn_retry_game_popup" do %>
              <i class="fas fa-undo-alt"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

      <%= javascript_pack_tag 'multiple_choice_game' %>
      <%= javascript_pack_tag 'finished_game_popup' %>



