<!-- <div class="remembex_header">
</div> -->

<div class="text_paragraph_background_container">

  <div class="text_paragraph_show_main_container">
    <div class="text_paragraph_show_container">
      <div class="text_paragraph_header_container">
          <h1 class="text_paragraph_show_title"><%= @text_paragraph.full_text.title %></h1>
      </div>
          <p class="text_paragraph_show_text"><%= @text_paragraph.content %></p>

      <!--
      <button onclick="responsiveVoice.speak('<%= @text_paragraph.content %>');"
      type="button" value="Play">Play</button>

      <button onclick="responsiveVoice.pause('<%= @text_paragraph.content %>');"
      type="button" value="Play">Pause</button>

      <button onclick="responsiveVoice.resume('<%= @text_paragraph.content %>');"
      type="button" value="Play">Resume</button> -->

      <a href="#" id="voice-btn" data-content="<%= @text_paragraph.content %>" data-state="initial" class="btn_listen"><i class="fas fa-play"></i></a>
    </div>
    <%= link_to "Go to game 1!", create_game_session_path(@text_paragraph), method: :post, class:"btn_play_game" %>
    <%= link_to "Go to game 2!", create_game_two_session_path(@text_paragraph), method: :post, class:"btn_play_game2" %>
  </div>
</div>

  <!-- temporary spot for game button, unclickable in original spot -->
    <%# link_to "Go to games!", create_game_session_path(@text_paragraph), method: :post, class: "btn_play_game" %>

    <script src="https://code.responsivevoice.org/responsivevoice.js?key=JXrgWNPm"></script>

    <%= javascript_pack_tag "read_aloud" %>
